@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
}
html {
  scroll-behavior: smooth;
}

a {
  color: transparent;
}

/* !!nav bar styling  */
/* nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: sticky;
  z-index: 1;
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  margin-left: -58px;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 0px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
} */
.offer_header {
  padding: 10px 20px;
  overflow: hidden;
  margin-top: 4.2rem;
}
.offer_header_2 {
  margin-top: 10px;
}
.offer_header .offer_box {
  height: auto;
  width: 100%;
  /* background-color: antiquewhite; */
  text-align: center;
  margin: auto;
}
.offer_header .offer_box img {
  height: auto;
  width: 100%;
}
.container {
  /* border: 1px solid black; */

  padding: 10px 20px;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  overflow-x: hidden;
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container .heading {
  display: block;
  /* margin-left: 30px; */

  width: 95%;
  text-align: center;
  margin-left: 35%;
  /* margin-right: 50%; */
  text-align: left;
  font-size: 28px;
  margin: 10px 0 10px 35%;
}
.container .main_container .heading h1 {
  letter-spacing: 5px;
  color: #ffffff;
  text-align: center;
  width: 60%;
  /* margin-right: 50%; */
  /* margin-left: 50%; */
}
.container .main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container .main_container .heading {
}
.container .product_container {
  /* border: 1px solid black; */
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  justify-content: space-evenly;

  /* overflow: hidden; */
}
.container .main_container .product_container .product_card {
  /* height: 300px; */
  height: auto;
  width: 250px;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  margin: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgb(255 255 255 / 20%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.container .main_container .product_container .ad_card {
  overflow: hidden;
  /* width: 300px; */
  height: 250px;
  margin-top: auto;
  margin-bottom: auto;
}
.container .main_container .product_container .product_card .discount_lable {
  position: relative;
  bottom: 0;
  left: 0;
  background-color: yellow;
  width: 80px;
  height: 80px;
}
.container .main_container .product_card .Product_image {
  height: 200px;
  padding: 10px 15px;
  /* background-color: brown; */
  border-radius: 23px;
}
.container .main_container .product_card h3 {
  text-align: center;
  margin: 5px 0 0 0;
  font-size: 14px;
  font-weight: 500;
  overflow: inherit;
  /* text-overflow: clip; */
}
.container .main_container .product_card a button {
  padding: 10px 0;
  margin: 10px 15px;
  width: 88%;
  border-radius: 7.5px;
  border: none;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}
.container .main_container .product_card a button:hover {
  cursor: pointer;
}
.container .main_container .product_card a button span img {
  height: 20px;
  margin: 0;
  margin-top: 7px;
  padding: 0;
  vertical-align: middle;
}

aside .amazon_side_ad {
  margin: 58px 30px 0 -20px;
  /* padding: 10px auto; */
  margin-top: 12vh;
  margin-bottom: 50%;
}
aside .no2 {
  /* margin: 58px 30px 0 -20px; */
  margin: 0;
  /* padding: 10px auto; */
  margin-top: 12vh;
  margin-bottom: 50%;
}

.Winter-mansoon-collection {
  background-image: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
}
.Winter-mansoon-collection .main_container .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -55px;
}
.Winter-mansoon-collection .main_container .heading .sale-img {
  width: 200px;
  height: 200px;
}
/* ^^ slider section  */
.section-slider {
  background-image: linear-gradient(135deg, #fff886 10%, #f072b6 100%);
}

.section-slider .slider {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
}

.section-slider .slider .slides {
  width: 500%;
  height: auto;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 300px;
}

/*css for manual slide navigation*/
.section-slider {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #23e3c9; */
}
.navigation-manual {
  position: relative;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: relative;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

.bottom {
  /* margin-top: 5px; */
  background: #e1eec3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f05053,
    #e1eec3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f05053,
    #e1eec3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 80px 0;
}
.bottom .categories {
  /* background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  width: 80%;
  height: 100%;
}
.bottom aside {
  /* width: 30%; */
  height: 100%;
  position: relative;
  /* left: 335px; */
  margin: 0;
  padding-top: -50px;

  display: block;
  align-items: center;
  /* margin-top: 105px; */
}
.bottom .categories h1 {
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
  font-size: 42px;
  margin: 15px 0;
}
.bottom .categories .categories_section {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.bottom .categories .categories_section .cat_card {
  width: 210px;
  height: 210px;
  margin: 10px;
  margin-top: 25px;
  position: relative;
  /* background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.bottom .categories .categories_section .cat_card:nth-child(odd) {
  /* top: 30px; */
}
.bottom .categories .categories_section .cat_card a img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* background-color: black; */
  border: 5px solid rgba(255, 255, 255, 0.55);
  box-shadow: 1px 1px 25px #f3a1b4;
}
.bottom .categories .categories_section .cat_card h4 {
  font-weight: 400;
  margin-top: -21px;
  color: #fff;
  z-index: 2;
  background: rgba(255, 255, 255, 0.242);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #000000;
  font-size: 20px;

  z-index: 0;
  padding: 3px 15px;
}
footer {
  /* margin-top: 15px; */
  background-color: gray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
footer .footer_text {
  height: auto;
  padding: 0 7px;
}

footer .footer_text p {
  display: block;
  font-size: 13.5px;
  margin: auto;
}
@media (max-width: 1000px) {
  /* nav {
    padding: 0 40px 0 50px;bbbbb
  } */
}
@media (max-width: 720px) {
  .offer_header {
    padding: 0;
    margin-top: -1.5rem;
  }
  .amazon_side_ad {
    display: none;
  }
  .container {
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    padding: 0;
    width: 100%;
  }
  .container .main_container {
    display: flex;
    /* flex-direction: column; */
    margin-left: -3px;
    /* margin-right: -16px; */
    padding: 0;
  }
  .container .main_container .product_container {
    margin-bottom: 20px;
  }
  .container .main_container .product_container .product_card {
    width: 47%;
    height: auto;
    padding: 0;
    margin: 5px;
  }
  .container .main_container .product_container .product_card:nth-child(5) {
    width: 302px;
    height: 250px;
  }
  .container .main_container .product_card .Product_image {
    height: 150px;
    padding: 7px 10px;
    /* background-color: brown; */
    border-radius: 23px;
  }
  .container .main_container .product_card h3 {
    text-align: center;
    margin: 5px 0 0 0;
    font-size: 12px;
    font-weight: 400;
    /* overflow: inherit; */
    /* word-wrap: inherit; */
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* text-overflow: clip; */
  }
  .container .main_container .product_card a button {
    height: 50px;
    font-size: 14px;
  }
  .container .main_container .product_card a button span img {
    height: 13px;
    margin-top: 6px;
    padding: 0;
    vertical-align: middle;
  }

  .container .main_container .product_container .ad_card {
    display: none;
  }

  .container .main_container .heading h1 {
    /* overflow: hidden; */
    text-align: center;
    font-size: 25px;
    /* margin-left: -103px; */
    /* margin-right: auto; */
    padding: 0;
  }
  .bottom {
    padding: 0;
    /* margin: 0 5px; */
    /* bottom  */
  }
  .bottom aside {
    display: none;
  }
  .bottom .categories .categories_section {
    margin: 0 -15px;
    margin-bottom: 20px;
    padding: 0;
    /* display: flex; */
    justify-content: space-evenly;
  }
  .bottom .categories .categories_section .cat_card {
    width: 130px;
    height: 130px;
    /* margin: 7px 5px; */
    padding: 0;
  }
  .bottom .categories .categories_section .cat_card:nth-child(even) {
    top: 90px;
  }
  .bottom .categories .categories_section .cat_card:last-child {
    left: -80px;
  }
  .bottom .categories .categories_section .cat_card a img {
    width: 130px;
    height: 130px;
  }
  .bottom .categories .categories_section .cat_card h4 {
    background: rgba(255, 255, 255, 0.342);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #000000;
    font-size: 12px;

    z-index: 2;
    padding: 3px 7px;
  }
}
